{% extends 'index.html' %} {% block content %}
<div class="profile">
	<header>
		<h1>About ME!</h1>
		<h2>- Rankin</h2>
	</header>
	<img src="/s/me.png" alt="me sitting at niagra falls" />
</div>

<br />

<div class="hobby">
	<h1>Hobby: I like FPS Games</h1>
	<ul>
		<li><strong>Mainly CS:GO</strong></li>
		<li>Valorant</li>
		<li>Apex</li>
		<li><em> and Minecraft</em></li>
	</ul>
</div>
<nav>
	<a href="about-project.html">About My Project</a>
</nav>
{% endblock content %}
